C:\Users\Наталья\Обучение\Знакомство с языками программирования\Java\HomeWork\1
C:\Users\Наталья\Обучение\Знакомство с языками программирования\Java\HomeWork\2
C:\Users\Наталья\Обучение\Знакомство с языками программирования\Java\HomeWork\3
C:\Users\Наталья\Обучение\Знакомство с языками программирования\Java\HomeWork\4
C:\Users\Наталья\Обучение\Знакомство с языками программирования\Java\HomeWork\5
C:\Users\Наталья\Обучение\Знакомство с языками программирования\Java\HomeWork\6
C:\Users\Наталья\Обучение\Знакомство с языками программирования\Java\HomeWork\7
folder_to_ignore/